* {
    font-family: serif;
}
header{
    background-color: whitesmoke;
    text-align: center;
    border: black;
    border-radius: 2px;
    padding: 10px 40px;
    margin: 0;
    box-shadow: 0px 1px 1px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    
}

h3 {
  font-family: "Bad Script", cursive;
  font-style: normal;
  font-weight: 600;
}

h2 {
    font-weight: 600;
    text-decoration: dashed;
}

.lead-paragraph::first-line {
  letter-spacing: 2px;
}

p:lang(ru) {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 1em;
}

p:lang(en) {
    color: black;
    font-style: italic;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 1em;
}

main{
    background-color: white;
    padding: 0;
}

section{
    background-color: white;
    padding: 40px 20px;
}

#Introduction {
    background-color: rgb(255, 245, 245);
}

#Введение {
    background-color: whitesmoke;
    padding: 0 0 20px;
    margin: 0;
    border: black;
    border-radius: 2px;
    box-shadow: 1px 1px 1px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

#contact-form {
    background-color: whitesmoke;
    border: black;
    border-radius: 2px;
    margin: 0;
    box-shadow: 0px 1px 1px;
    color: black;
    font-style: italic;
    text-decoration: none;
}

li:nth-child(odd) {
  background-color: whitesmoke;
}

#term::after {
  content: "Важно!";
  border: 1px solid #ff0000;
  padding: 6px 10px;
  background-color: #fff0f0;
  color: #ff0000;
  font-weight: bold;
  margin-right: 5px;
  margin-left: 10px;
}

table{
    border: 3px solid black;
    border-collapse: collapse;
}
td,th{
    border: 2px solid black;
}

table {
  border-collapse: collapse;
}
tr:nth-child(odd) {
  background-color: #fff;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
td:nth-child(2) {
    background-color: #E8E8FF;
}
td:nth-child(1) {
    font-weight: bold;
    text-align: center;
}
td:nth-child(4) {
    text-align: right;
}

#contact-form input[type="text"]{
    height: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: whitesmoke;
    font-style: italic;
}

#contact-form input[type="submit"]{
    height: 40px;
    width: 150px;
    border: black solid 1px;
    background-color: silver;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
}

#contact-form input[type="submit"]:hover{
    height: 40px;
    width: 150px;
    border: black solid 1px;
    background-color: white;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
}



footer {
    background-color: whitesmoke;
    padding: 0 0 20px;
    margin: 0;
    text-align: center;
    border: black;
    border-radius: 2px;
    box-shadow: 0px 1px 1px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    
}

#icon{
  border: 2px solid #007bff;
  padding: 5px;
  background-color: #fff;
}

img + p {
    margin-top: 10px;
}


a:hover, a:focus{
    color: red;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
}