* {
    font-family: serif;
}
header{
    background-color: whitesmoke;
    text-align: center;
    border: black;
    border-radius: 2px;
    padding: 10px 40px;
    margin: 0;
    box-shadow: 0px 1px 1px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    
}

.lead-paragraph::first-line {
  letter-spacing: 2px;
}

p:lang(ru) {
    color: black;
}
p:lang(en) {
    color: black;
    font-style: italic;
}


main{
    background-color: white;
    padding: 0;
}

section{
    background-color: white;
    padding: 40px 20px;
}

#Введение {
    background-color: whitesmoke;
    padding: 0 0 20px;
    margin: 0;
    border: black;
    border-radius: 2px;
    box-shadow: 1px 1px 1px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

#loginreg {
    background-color: whitesmoke;
    border: black;
    border-radius: 2px;
    margin: 0;
    box-shadow: 0px 1px 1px;
    color: black;
    text-decoration: none;
}

li:nth-child(odd) {
  background-color: whitesmoke;
}

#term::after {
  content: "Важно!";
  border: 1px solid #ff0000;
  padding: 6px 10px;
  background-color: #fff0f0;
  color: #ff0000;
  font-weight: bold;
  margin-right: 5px;
  margin-left: 10px;
}

footer {
    background-color: whitesmoke;
    padding: 0 0 20px;
    margin: 0;
    text-align: center;
    border: black;
    border-radius: 2px;
    box-shadow: 0px 1px 1px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:focus{
    color: red;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
}